.boton-contenedor {
  height: 83px;
  display: flex;
  flex: 1 1;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 38px;
  background-color: #d35400;
  color: white;
  border-radius: 50px;
  border: 2px solid black;
  margin: 4px;
  cursor: pointer;
  user-select: none;
  box-shadow: 0px 6px 0px black;
  transition: all .1s;
}

.boton-contenedor:active {
  box-shadow: 0px 2px 0px #d35400;
  position: relative;
  top: 2px;
 }

.boton-contenedor:hover {
  background-color: #f6bc52;
}

.operador {
  background-color: #00471b;
  
}

.operador:hover {
  background-color: #6edf90;
}